/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: gray;
    width: 100%;
    height: 100%;
    display: inline-block;
}
ul{
    list-style-type: none;
}

/* VARIABLES */
:root{
    --primary-color: ;
    --secondary-color: ;
}


/* APP-WRAPPER */
.app-wrapper{
    width: 100%;
    height: 100vh;
    /* min-width: 550px; */
}

/* MAIN */
main{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
}

/* SIDE-NAV */
#side-nav{
    width: 250px;
    height: 100%;
    background-color: pink;
    overflow-y: hidden; 
    padding-left: 10px
}

#logo{
    width: 100%;
    height: 60px;
    border: 1px solid red;
    padding: 10px 0;
}
#logo img{
    height: 100%;
}

#nav-ul{
    width: 100%;
    height: calc(100% - 140px);
    border: 1px solid red;
}
#nav-ul ul li{
    width: 100%;
    height: 30px;
    border: 1px solid blue;
}
#nav-ul h4{
    border: 1px solid blue;
    margin: 10px 0;
}

#nav-footer{
    width: 100%;
    height: 80px;
    border: 1px solid red;
    position: relative;
}
#nav-footer-bottom{
    position: absolute;
    bottom: 0;
    width: 90%;
    border-top: 1px solid black;
    margin: 0 auto;
}
#nav-footer-top{
    position: absolute;
    bottom: 20px
}

/* CONTENT */
.content{
    height: 100%;
    width: calc(100% - 250px);
    background-color: lightgreen;
    overflow-y: auto;
    padding-top: 80px;
}
nav{
    border: 1px solid red;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
}
nav ul{
    display: flex;
    font-size: 11.5px;
    border: 1px solid blue;
}
nav ul li{
    border: 1px solid blue;
    margin: 0 10px;
    line-height: 35px;
}
.row{
    border: 1px solid red;
    width: 100%;
    /* height: 250px; */
    padding: 0 20px;
    /* display: flex; */
}
.row-bottom-content{
    display: flex;
    /* justify-content: space-between; */
}
.card{
    border: 1px solid red;
    width: calc(94% / 6);
    /* height: 80%; */
    margin: 10px 0;
    text-align: center;
    /* display:inline-block; */
    margin: 0 10px 15px;
}
.card img{
    width: 100%;
}
.card h3{
    font-size: 15px;
}
.card h5{
    font-size: 10px;
}
.artist-img{
    border-radius: 50%;
}
/* FOOTER */
footer{
    width: 100%;
    height: 70px;
    background-color: lightblue;
    overflow-y: hidden; 
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
}
#footer-content-left{
    border: 1px solid red;
    height: 100%;
    width: 250px;
}

#footer-content-center{
    border: 1px solid red;
    height: 100%;
    width: 500px;
}

#footer-content-right{
    border: 1px solid red;
    height: 100%;
    width: 300px;
}

/* UPGRADE-BANNER */
.upgrade-banner{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: calc(100% - 250px);
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 10px;
    display: flex;
    justify-content: flex-end;
}
#upgrade-button{
    width: max-content;
    border: 2px solid white;
    font-size: 12px;
    border-radius: 25px;
}
#upgrade-link{
    padding: 8px 20px;
    color: white;
}