/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: middle;
}

/* COMMON */
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: gray;
    height: 100%;
    display: inline-block;
}
#footer-content-left a{
    color: gray;
}
#footer-content-left a:hover{
    color: white;
    text-decoration: underline;
}
ul{
    list-style-type: none;
}
h2{
    margin: 10px 0; 
    color: white;
    margin: 10px 10px;
    font-size: 21px;
}
#Recently h2, #Artisti h2{
    margin: 20px 10px;
}
h3{
    margin: 7px 0 5px;
    color: white;
    font-size: 12px;
}
#Create h5{
    margin-bottom: 20px;
}
h5{
    color: gray;
    margin: 10px 10px;
    font-size: 10px;
}


/* APP-WRAPPER */
.app-wrapper{
    width: 100%;
    height: 100vh;
}

/* MAIN */
main{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
}

/* SIDE-NAV */
#side-nav{
    width: 200px;
    height: 100%;
    background-color: #000;
    overflow-y: hidden; 

    display: flex;
    flex-direction: column;
    color: gray;
}
#side-nav-s{
    display: none;
}
#side-nav-s-footer{
    display: none;
}
#side-nav a{
    color: gray;
}
#side-nav #wh{
    color: white;
}
.logo{
    width: 100%;
    padding: 10px 10px;
}
.logo img{
    width: 65%;
}
.img-nav-link{
    width: 20px;
    height: 20px;
    display: inline-block;
}
.nav-link *, .nav-playlist *{
    margin: 3px 0;
}
.nav-link li{
    margin-bottom: 5px;
    padding: 0 10px;
}
.nav-link a{
    display: inline;
}
#selected-link{
    border-left: 2px solid lime;
}
.nav-playlist{
    flex-grow: 1;
    padding: 0 10px;
}
.nav-playlist h3{
    font-size: 13px;
}
#crea-playlist{
    width: 100%;
}
.crea-playlist-top{
    display: flex;
    align-items: center;
}
.crea-playlist-top span{
    font-size: 12px;
}
#playlist-plus{
    width: 35px;
    height: 35px;
    background-color: #a2a2a2;
    font-size: 35px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.nav-playlist ul li{
    margin: 10px 0;
    font-size: 12px;
}
#nav-footer-container{
    width: 90%;
    margin: 0 auto;
}
#nav-footer-top span{
    font-size: 12px;
    vertical-align: middle;
}
#nav-footer-top img{
    width: 15px;
    margin-right: 5px;
    vertical-align: middle;
}
hr{
    margin: 10px 0;
}
#nav-footer-bottom{
    display: inline-block;
    margin-bottom: 5px;
}
#nav-footer-bottom span{
    font-size: 14px;
    vertical-align: middle;
    color: white;
}
#nav-footer-bottom-img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #808080;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
#nav-footer-bottom-img img{
    width: 100%;
}

/* CONTENT */
.content{
    height: 100%;
    width: calc(100% - 200px);
    background-color: #141922;
    overflow-y: auto;
    padding-top: 80px;
}
nav{    
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    font-size: 11.5px;
}
nav ul li:first-child{
    padding-bottom: 0;
    position: relative;
}
nav ul li{
    line-height: 35px;
    font-weight: 900;
    margin: 0 10px;
}
#nav-selected-content{
    width: 25px;
    height: 2px;
    background-color: #0f0;
    padding-bottom: 0;
    margin: 0 auto;
    display: block;
}

.row{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.row-bottom-content{
    display: flex;
}

.card{
    margin: 10px 0;
    text-align: center;
    margin: 0 10px 15px;
}
.card-img{
    min-width: 200px;
    width: 100%;

    background-image: url(../img/metal_lifting.jpg);
    background-size: cover;
    height: 200px;
    color: white;
    position: relative;
}
.card-img i{
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;  
    display: none;
    height: min-content;
    position: relative;
}
.card-img:hover{
    filter:opacity(35%);
}
.card-img i{
    display: inline;
    position: absolute;
}

.artist-img{
    border-radius: 50%;
}
/* FOOTER */
footer{
    width: 100%;
    height: 70px;
    background-color: #282828;
    overflow-y: hidden; 
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
}
footer a{
    color: white;
}

#footer-content-left{
    height: 100%;
    width: 250px;
    display: flex;
    font-size: 13px;
    color: white;
    align-items: center;
}
figure{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
figure img{
    width: 100%;
}
#footer-content-left p{
    margin-right: 30px;
}
#footer-content-left span{
    font-size: 10px;
    color: gray
}
#footer-content-left-icon i{
    margin-right: 4px;
    font-size: 14px;
    margin-left: 7px;
    color: white;
}
#footer-content-left-icon i:hover{
    scale: 1.1;
}
#footer-content-center{
    height: 100%;
    width: 500px;
}
#footer-content-center-top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content-center-top-icon{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content-center-top-icon a{
    color: white;
}
#play-button{
    font-size: 30px;
    margin: 0 auto;
    font-size: 26px;
}
#play-button:hover{
    scale: 1.1;
}
#footer-content-center-top{
    height: 50%;
    padding-top: 10px;
    font-size: 15px;
}

#footer-content-center-bottom{
    height: 50%;
    display: flex;
    align-items: center;
}
.footer-content-center-bottom-side-object{
    width: 20%;
    font-size: 8px;
    text-align: center;
    color: white;
}
#footer-content-center-bottom-center-object{
    width: 80%;
    background-color: gray;
    height: 3px;
    border-radius: 5px;
    display: flex;
}
#footer-content-center-bottom-center-object-white{
    width: 20%;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}
#footer-content-center-bottom-center-object-white-dot{
    width: 10px;
    height: 10px;
    background-color: white;
    align-self: center;
    border-radius: 50%;
    display: none;
}
#footer-content-center-bottom-center-object-white:hover{
    background-color: #0f0;
}
#footer-content-center-bottom-center-object-white:hover + #footer-content-center-bottom-center-object-white-dot{
    display: inline-block;
}

#footer-content-right{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 10px;
    width: 200px;
}
.footer-content-right-firts-three-elements{
    width: 15%;
    text-align: center;
}
#footer-content-right-last-element{
    width: 50%;
    margin: 0 auto;
}
#footer-content-right-last-element-gray-line{
    height: 3.5px;
    background-color: gray;
    display: flex;
}
#footer-content-right-last-element-white-line{
    width: 25%;
    height: 3.5px;
    background-color: white;
}
#footer-content-right-last-element-white-line-dot{
    width: 10px;
    height: 10px;
    background-color: white;
    align-self: center;
    border-radius: 50%;
    display: none;
}
#footer-content-right-last-element-white-line:hover + #footer-content-right-last-element-white-line-dot{
    display: inline-block;
}
#footer-content-right-last-element-white-line:hover{
    background-color: #0f0;
}

/* UPGRADE-BANNER */
.upgrade-banner{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: calc(100% - 200px);
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 10px;
    display: flex;
    justify-content: flex-end;
}
#upgrade-button{
    width: max-content;
    border: 2px solid white;
    font-size: 12px;
    border-radius: 25px;
}
#upgrade-link{
    padding: 8px 20px;
    color: white;
}
#upgrade-button:hover{
    scale: 1.2;
}

a:hover{
    color: white;
}
#side-nav a:hover{
    color: white
}
#nav-footer-container span:hover{
    color: white;
}

@media screen and (max-width: 1100px) {
    .row-bottom-content{
        flex-wrap: wrap;
    }
    .card{
        width: calc(100% / 4 - 30px);
    }
    #Recently h2{
        margin: 50px 10px;
    }

}

@media screen and (max-width: 700px) {
    .card{
        width: calc(100% / 2 - 30px);
    }
    #Recently h2{
        margin: 70px 10px 20px;
    }

}

@media screen and (max-width: 600px) {
    #side-nav{
        display: none;
    }
    .content, .upgrade-banner{
        width: calc(100% - 40px);
    }
    #side-nav-s{
        display: inline-block;
        width: 40px;
        height: 100%;
        background-color: #000;
        overflow-y: hidden;     
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        color: gray;
    }
    #side-nav a{
        color: gray;
    }
    #side-nav #wh{
        color: white;
    }
    .logo{
        width: 100%;
        height: 40px;
        padding: 4px 5px;
    }
    .logo img{
        width: 100%;
    }
    .side-nav-s-link-s ul li{
        width: 100%;
        color: gray;
        font-size: 14px;
        margin: 10px auto;
    }
    .side-nav-s-link-s ul li img{
        width: 80%;
    }
    #side-nav-s-footer{
        display: inline-block;
        justify-self: end;
    }
    #side-nav-s-footer-container{
        width: 90%;
        margin: 0 auto;
    }
    #side-nav-s-footer-top span{
        font-size: 12px;
        vertical-align: middle;
    }
    #side-nav-s-footer-top img{
        width: 15px;
        margin-right: 5px;
        vertical-align: middle;
    }
    hr{
        margin: 10px 0;
    }
    #side-nav-s-footer-bottom{
        display: inline-block;
        margin-bottom: 5px;
    }
    #side-nav-s-footer-bottom span{
        font-size: 14px;
        vertical-align: middle;
        color: white;
    }
    #side-nav-s-footer-bottom-img{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #808080;
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
    }
    #side-nav-s-footer-bottom-img img{
        width: 100%;
    }
    
}