/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: gray;
    width: 100%;
    height: 100%;
    display: inline-block;
}
ul{
    list-style-type: none;
}
h2{
    margin: 10px 0; 
    color: white;
}
h3{
    margin: 7px 0 5px;
    color: white;
}
h5{
    margin: 13px 0;
    color: gray;
}



/* VARIABLES */
:root{
    --primary-color: ;
    --secondary-color: ;
}


/* APP-WRAPPER */
.app-wrapper{
    width: 100%;
    height: 100vh;
    /* min-width: 550px; */
}

/* MAIN */
main{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
}

/* SIDE-NAV */
#side-nav{
    width: 250px;
    height: 100%;
    background-color: #000;
    overflow-y: hidden; 
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    color: gray;
}
#side-nav a{
    color: gray;
}
#side-nav #wh{
    color: white;
}
#logo{
    width: 100%;
    padding: 10px 0;
}
#logo img{
    width: 65%;
}
.img-nav-link{
    width: 20px;
    height: 20px;
    display: inline-block;
}
.nav-link li{
    margin-bottom: 5px;
}
.nav-link a{
    display: inline;
}
#selected-link{
    border-left: 2px solid lime;
}
.nav-playlist{
    flex-grow: 1;
}
.nav-playlist h3{
    font-size: 13px;
}
#crea-playlist{
    width: 100%;
}
.crea-playlist-top{
    display: flex;
    align-items: center;
}
.crea-playlist-top span{
    font-size: 12px;
}
#playlist-plus{
    width: 35px;
    height: 35px;
    background-color: #a2a2a2;
    font-size: 35px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.nav-playlist ul li{
    margin: 10px 0;
    font-size: 12px;
}
#nav-footer-container{
    width: 90%;
    margin: 0 auto;
}
#nav-footer-top span{
    font-size: 12px;
    vertical-align: middle;
}
#nav-footer-top img{
    width: 15px;
    margin-right: 5px;
    vertical-align: middle;
}
hr{
    margin: 10px 0;
}
#nav-footer-bottom{
    display: inline-block;
    margin-bottom: 5px;
}
#nav-footer-bottom span{
    font-size: 14px;
    vertical-align: middle;
    color: white;
}
#nav-footer-bottom-img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #808080;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
#nav-footer-bottom-img img{
    width: 100%;
}

/* CONTENT */
.content{
    height: 100%;
    width: calc(100% - 250px);
    background-color: #141922;
    overflow-y: auto;
    padding-top: 80px;
}
nav{
    
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
}
nav ul{
    display: flex;
    font-size: 11.5px;
}
nav ul li{
    margin: 0 10px;
    line-height: 35px;
    font-weight: 900;
}
#selected-content{
    padding-bottom: 0;
    border-bottom: 2px solid lime;
    /* width: 50px;
    margin: 0 auto; */
}

.row{
    
    width: 100%;
    /* height: 250px; */
    padding: 0 20px;
    /* display: flex; */
}
.row-bottom-content{
    display: flex;
    /* justify-content: space-between; */
}
.card{
    
    width: calc(94% / 6);
    /* height: 80%; */
    margin: 10px 0;
    text-align: center;
    /* display:inline-block; */
    margin: 0 10px 15px;
}
.card img{
    width: 100%;
}
.card h3{
    font-size: 15px;
}
.card h5{
    font-size: 10px;
}
.artist-img{
    border-radius: 50%;
}
/* FOOTER */
footer{
    width: 100%;
    height: 70px;
    background-color: #282828;
    overflow-y: hidden; 
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
}
footer a{
    color: white;
}

#footer-content-left{
    height: 100%;
    width: 250px;
    padding: 15px 10px;
    display: flex;
    font-size: 13px;
    color: white;
    align-items: center;
}
figure{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
figure img{
    width: 100%;
}
#footer-content-left p{
    margin-right: 50px;
}
#footer-content-left span{
    font-size: 10px;
    color: gray
}
#footer-content-left-icon i{
    margin-right: 4px;
    font-size: 14px;
    margin-left: 7px;
    color: white;
}

#footer-content-center{
    height: 100%;
    width: 500px;
}
#footer-content-center-top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content-center-top-icon{
    width: 40px;
}
.footer-content-center-top-icon a{
    color: white;
}
#play-button{
    font-size: 30px;
    margin: 0 auto;
}
#footer-content-center-top{
    height: 50%;
    padding-top: 10px;
}

#footer-content-center-bottom{
    height: 50%;
    display: flex;
    align-items: center;
}
.footer-content-center-bottom-side-object{
    width: 20%;
    font-size: 10px;
    text-align: center;
    color: white;
}
#footer-content-center-bottom-center-object{
    width: 80%;
    background-color: gray;
    height: 4px;
    border-radius: 5px;
}
#footer-content-center-bottom-center-object-white{
    width: 20%;
    height: 5px;
    background-color: white;
    border-radius: 5px;
}

#footer-content-right{
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center
}
.footer-content-right-firts-three-elements{
    width: 15%;
    text-align: center;
}
#footer-content-right-last-element{
    width: 50%;
    margin: 0 auto;
}
#footer-content-right-last-element-gray-line{
    /* width: 70%; */
    height: 4px;
    background-color: gray;
}
#footer-content-right-last-element-white-line{
    width: 25%;
    height: 5px;
    background-color: white;
}

/* UPGRADE-BANNER */
.upgrade-banner{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: calc(100% - 250px);
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 10px;
    display: flex;
    justify-content: flex-end;
}
#upgrade-button{
    width: max-content;
    border: 2px solid white;
    font-size: 12px;
    border-radius: 25px;
}
#upgrade-link{
    padding: 8px 20px;
    color: white;
}